@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #3ae9d2; /* Verde pastel */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Define a fonte para Poppins */
}

.logo {
    width: 100px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: #ffffff; /* Preto */
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #034d3d; /* Verde musgo */
    cursor: pointer;
}