<!DOCTYPE html>
<html>
    <head>
        <title>Blog da Papelaria Criativa</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <h1>Bem-vindo ao Blog da Papelaria Criativa!</h1>
        </header>
        <main>
            <ul>
                {% for post in posts %}
                    <li class="post">
                        <h2>{{ post.titulo }}</h2>
                        <img src="{{ post.imagem_destaque.url }}" alt="{{ post.titulo }}" width="200">
                        <p>{{ post.conteudo|truncatewords:20 }}</p>
                        <a href="#">Leia mais</a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <p>© 2023 Papelaria Criativa</p>
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>